
* {
    cursor: default;
}

body {
    overflow: hidden;
}

.page-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    overflow: hidden;
    background-color: linear-gradient(55deg, #353535, #181818);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    width: min(80vw, 700px);
    height: min-content;
    background: rgb(62, 22, 96);
    background: linear-gradient(55deg, #D09FFF 0%, #31035E 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
    transition: 0.8s;
    transform: translate(0px, 80px);
    filter: brightness(0%);
}

#icon {
    background-image: url("assets/picture.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-top: 20px;
}

#title {
    font-size: 2.4em;
    font-weight: 500;
    text-shadow: 0px 0px 26px rgba(255, 255, 255, 0.85);
    background-image: url("assets/sparkle_blue.gif");
    background-position: center;
    background-repeat: repeat;
    padding-bottom: 6px;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
}

#text {
    font-size: 1.2em;
    margin: 20px;
    padding-top: 0;
    margin-top: 0;
    font-weight: 500;
}

.icon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.icon {
    width: 35px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px;
    transition: 0.5s;
    cursor: pointer;
    -webkit-filter: drop-shadow(#2495d4 1px 0 7px);
    filter: drop-shadow(#2495d4 1px 0 7px);
}

.icon:hover {
    scale: 110%;
}

.icon.youtube {
    background-image: url("assets/youtube.svg");
}

.icon.cashapp {
    background-image: url("assets/cashapp.svg");
}

.icon.roblox {
    background-image: url("assets/roblox.svg");
}

.icon.paypal {
    background-image: url("assets/paypal.svg");
}

.icon.reddit {
    background-image: url("assets/reddit.svg");
}

#credit {
    position: absolute;
    left: 5px;
    bottom: 5px;
    color: #ffffff;
    color: #ffffff3c;
    margin: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

@keyframes rotating {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}

@keyframes fall {
    from {
        top: -20px;
    }
    to {
        top: 100vh;
    }
}

@keyframes wind {
    0% {
        transform: translate(-75px, 0px);
    }
    50% {
        transform: translate(75px, 0px);
    }
    100% {
        transform: translate(-75px, 0px);
    }
}

.snowflake-container {
    position: absolute;
    top: -20px;
    z-index: 6;
}

.snowflake {
    color: #ffffff;
}

#clicktoenter {
    z-index: 5;
    background-color: #000000;
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clicktoenter h1 {
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
